.btn-success {
    background-color: #f39c12;
    border-color: #f39c12;
}
.btn-success:hover, .btn-success:focus, .btc-success:active, .btc-success:visited {
    background-color: #f1c40f;
    border-color: #f1c40f;
}
::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: #f39c12;
}

.btn-btc, .btn-btc:hover, .btn-btc:active, .btn-btc:visited {
    background-color: #f7931a !important;
    color:#ffffff;
}
.btn-bch, .btn-bch:hover, .btn-bch:active, .btn-bch:visited {
    background-color: #4cca47 !important;
    color:#ffffff;
}
.btn-ltc, .btn-ltc:hover, .btn-ltc:active, .btn-ltc:visited {
    background-color: #4d4d4d !important;
    color:#ffffff;
}
.btn-xmr, .btn-xmr:hover, .btn-xmr:active, .btn-xmr:visited {
    background-color: #ff6600 !important;
    color:#ffffff;
}
.btn-xmg, .btn-xmg:hover, .btn-xmg:active, .btn-xmg:visited {
    background-color: #1d62f0 !important;
    color:#ffffff;
}
.btn-bynd, .btn-bynd:hover, .btn-bynd:active, .btn-bynd:visited {
    background-color: #a5a5a5 !important;
    color:#ffffff;
}
.btn-duco, .btn-duco:hover, .btn-duco:active, .btn-duco:visited {
    background-color: #f39c12 !important;
    color:#ffffff;
}

.modal-body {
  word-wrap: break-word;
}
