
*.pyc
Wallet_2.0_resources/transactions.png
Wallet_2.0_resources/settings.png
Wallet_2.0_resources/github.png
Wallet_2.0_resources/stats.png
Wallet_2.0_resources/exchange.png
Wallet_2.0_resources/duco.png
Wallet_2.0_resources/discord.png
Wallet_2.0_resources/calculator.png
PCMiner_2.0_resources/Miner_config.cfg
PCMiner_2.0_resources/Donate_executable.exe
