# Duino-Coin resources folders
Wallet_*/
PCMiner_*/
AVRMiner_*/

# Byte-compiled and optimized files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution and packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
