RewriteEngine on

Options -Indexes

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

### Error documents - add to main webserver configuration
#ErrorDocument 301 /error/301.html
#ErrorDocument 302 /error/302.html
#ErrorDocument 403 /error/403.html
#ErrorDocument 404 /error/404.html
#ErrorDocument 408 /error/408.html
#ErrorDocument 410 /error/410.html
#ErrorDocument 500 /error/500.html
#ErrorDocument 503 /error/503.html
