html *
{
   font-family: Arial !important;
}

a:link {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

a:active {
  text-decoration: underline !important;
}
